{% extends 'base.html' %}
{% load extra_tags %}

{% block content %}

    {% load_categories categories %}
    <br><br>

    {% for product in products %}
        <div class="card" style="width: 24%; display: inline-block">
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.slug }} image"
                                                          class="card-img-top"></a>
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}