{% extends 'base.html' %}

{% block content %}

    {% for category in categories %}


        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-info">{{ category.name }}</a>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for sub in category.subcategory.all %}
                    <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}
    <br><br>

    {% for product in products %}
        <div class="card" style="width: 24%; display: inline-block">
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.slug }} image"
                                                          class="card-img-top"></a>
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}