{% extends 'base.html' %}
{% load extra_tags %}

{% block content %}

    {% load_categories categories %}
    <br><br>
    <div class="row">
        {% for product in products %}
            <div class="card col-md-3 mb-4">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"
                                                              alt="{{ product.slug }}"
                                                              class="card-img-top product-img"></a>
                <div class="card-body text-center">
                    <a href="{{ product.get_absolute_url }}" class="card-title red">{{ product.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}