{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th class="text-center" scope="col">Quantity</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Total</th>
            <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-center">{{ item.price|intcomma }}</td>
                <td class="text-center">{{ item.total_price|intcomma }}</td>
                <td class="text-center">
                    <a href="{% url 'orders:cart_delete' item.product.id %}">
                        <i class=" fa fa-trash-o" style="color: red" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><b>Total Price: {{ cart.get_cart_total_price|intcomma }}</b></p>

    <br><br>
    <a href="{% url 'orders:order_create' %}"
       class="btn btn-primary{% for item in cart %} {% empty %} disabled {% endfor %}">checkout</a>
{% endblock %}