{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price|intcomma }}</td>
                <td>{{ item.total_price|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}